@import "reset";

$gray: hsla(0, 0%, 25%, 0.05);
$purple: #797FBD;
$darkGrey: #231F20;

@font-face {
	font-family:'FredokaOne-Regular';
	src: url('assets/fonts/fredoka/FredokaOne-Regular.eot');
	src: url('assets/fonts/fredoka/FredokaOne-Regular.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/fredoka/FredokaOne-Regular.woff') format('woff'),
		url('assets/fonts/fredoka/FredokaOne-Regular.ttf') format('truetype'),
		url('assets/fonts/fredoka/FredokaOne-Regular.svg#FredokaOne-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB03;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
  color: #231F20;
  background: #eee;
  background: #eee;
  font-family:'FredokaOne-Regular';
	overflow: hidden;
}

canvas {
  position: absolute;
  margin: 0;
  padding: 0;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.score {
	position: absolute;
	top:0;
	left :0;
	margin: 40px;
	font-size: 34px;
	color:white;
	user-select:none;
	-webkit-user-select:none;
	cursor: default;
	.phone & {
		font-size: 24px;
	}
}
.countdown {
	position: absolute;
	color: white;
	top:50%;
	left:50%;
	font-size: 64px;
	transform: translate(-50%, -50%);
	user-select:none;
	-webkit-user-select:none;
	cursor: default;

	.phone & {
		font-size: 44px;
	}
}

.gameover {
	position: absolute;
	top:50%;
	left:50%;
	font-size: 64px;
	transform: translate(-50%, -50%);
	-webkit-user-select:none;
	cursor: default;
	color: $purple;
	text-transform: uppercase;
	cursor: pointer;
	.phone & {
		font-size: 44px;
	}
}

.portrait {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $purple;
	z-index: 10;
	display: table;
	-webkit-user-select:none;
	cursor: default;

	.desktop & {
		display: none;
	}
	p {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		text-transform: uppercase;
	}
}
.loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $purple;
	z-index: 10;
	display: table;
	.wrapper {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.logo {
		margin: 0 auto;
		display: block;
		background-image: url('assets/images/logo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		width: 150px;
		height: 125px;

	}
}

@media all and (orientation: landscape) {
	.portrait {
		display: none;

	}
}
//nicer error messages during development
.errorify {
  color: red;
  padding: 20px;
  font-family: 'Courier', monospace;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}
